*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    #platform { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 600px) {
	#platform { display: none; }   /* hide it elsewhere */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}