<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
我们这里，聚集了很多创业者。

感谢欧阳提供的服务器资源

希望这里，大家可以从兴趣出发，找到伙伴，做出好产品

网站有什么问题可以加我微信：harryyuanfeng


### 移动客户端

正在配置中

源码地址： https://github.com/soliury/noder-react-native 。

另，安卓用户同时可选择：https://github.com/TakWolf/CNode-Material-Design ，这是 Java 原生开发的安卓客户端。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
